* {
	font-family: 'Montserrat', sans-serif;
}

.row{
    margin:0px !important; 
}
h1, button {
	text-transform: uppercase;
}
h1,h2,h3,h4{
  color: #000000;
}
.contato h1{
  color: white;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: black; /*transparent*/
    border-color: black;
    border-radius: 0px;
}


.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #ccc;
}

.page-section {
  padding: 100px 0;
}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
}

@media (min-width: 768px) {
  section {
    padding: 100px 0;
  }
}

::-moz-selection {
  background: #ff5555;
  text-shadow: none;
}

::selection {
  background: #ff5555;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn {
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #FF0000;
  border-color: #FF0000;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #cc0000 !important;
  border-color: #cc0000 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 51, 51, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 51, 51, 0.5) !important;
}

.masthead {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000000;
  background-image: url(../imgs/intro-bg.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

/*height: 800px; 
  weight: 100% !important;*/

.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
}

.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px; 
}

@media (min-width: 768px) {
.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
  }
.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
  }
}


/* GERAL*/

.titulo-session{
	font-weight: 600;
	margin: 30px;
}


/* SESSÃO DE SERVIÇOS*/

.serv-categoria {
	 padding: 20px 50px;
	 text-align: center;
	 min-height: 350px;
}

.serv-categoria i{
	color: white;
  background-size: 80px !important;
	padding: 30px;
}

.wrap-icon{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  margin: 0 auto;
  border-radius: 50%;

}

.serv-categoria h3{
	font-weight: 800;
}

/* SESSÃO DE PORTFOLIO*/

.prod-portfolio{
	text-align: center;
}

.prod-portfolio img{
	padding: 10px 10px 0px 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.prod-portfolio h3{
	font-weight: 800;
}

/*SESSÃO ORÇAMENTO*/

#orcamento {
	padding: 50px 20px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  right: 25px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 0px;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.black {
  background-color: black !important;
}
.timeline-badge.red {
  background-color: #FF0000 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
  font-weight: 600;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

/*SESSÃO EQUIPE */


ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #000000;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #FF0000;
}

/*SESSÃO CONTATO*/

#contato {
	background-color: black;
	padding: 80px 20px;
}

#contato .titulo-session{
	color: white;
}